body{background-image: linear-gradient(90deg,#ffff54,#E1FFB1);
    display: flex;
	justify-content: center;
	align-items: center;
	
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: xx-large;
    text-align: center;
    padding-top: 8%;
}
h1{
  font-family: 'Josefin Sans', sans-serif;
  
}
.button {position: absolute;
    background-color: #ffb050;
    border-radius:30px;
    height:50px;
    width: 250px;
    color: #000000;
    font-weight:bold;
    cursor:pointer;
    transition: 0.8s;
    font-family: 'Josefin Sans', sans-serif;
    right: 28%;
    top: 2%;
    
   
  }
  .button:hover {
    background-color: #cdf91e;
    color: #000000;
  }
  .button2 {position: absolute;
    background-color: #ffb050;
    border-radius:30px;
    height:50px;
    width: 250px;
    color: #000000;
    font-weight:bold;
    cursor:pointer;
    transition: 0.8s;
    font-family: 'Josefin Sans', sans-serif;
    right: 10%;
    top: 2%;
    
   
  }
  .button2:hover {
    background-color: #cdf91e;
    color: #000000;
  }
  .button3 {position: absolute;
    background-color: #ffb050;
    border-radius:30px;
    height:50px;
    width: 250px;
    color: #000000;
    font-weight:bold;
    cursor:pointer;
    transition: 0.8s;
    font-family: 'Josefin Sans', sans-serif;
    right: 46%;
    top: 2%;
    
   
  }
  .button3:hover {
    background-color: #cdf91e;
    color: #000000;
  }
  .button1 {position: absolute;
    background-color: #c83434;
    border-radius:30px;
    height:50px;
    width: 100px;
    color: #F8EDE3;
    font-weight:bold;
    cursor:pointer;
    transition: 0.2s;
    top: 2%;
    right: 1.5%;
    
   
  }
  .button1:hover {
    background-color: #cf482d;
    color: #E8E6E6;
  }
  input {
    width:200px;
    height:50px;
    padding:0 5px;
    border-radius:40px;
  }
  input:focus {
    width:250px;
    transition: .5s;
  }
  .button4{
    background-color: #256D85;
    border-radius:30px;
    height:50px;
    color: #F8EDE3;
    font-weight:bold;
    cursor:pointer;
    transition: 0.5s;
  }
  .button4:hover {
    background-color: #829460;
  }